/* Will be compiled down to a single stylesheet with your sass files */

.codesos-container {
  background: rgb(252, 221, 204);
  border-radius: 3px;
  margin-bottom: 23px;
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
}

.codesos-container li.g {
  margin-bottom: 0;
}

.codesos-upvote-bgtext {
  color: rgb(255, 246, 240);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 160px;
  font-weight: 700;
  position: absolute;
  top: -39px;
}