<div class="so-wrap">
  <div class="so-item">
    <div class="so-scorecard">
      <div>
        <i id="so-check" class="fa fa-check"></i><span id="so-upvotes">1,234</span>
      </div>

      <div>
        <i class="fa fa-eye"></i><span id="so-views">1,234</span>
      </div>

      <div>
        <i class="fa fa-calendar"></i><span id="so-age">3 yr</span>
      </div>
    </div>

    <div class="so-result">
      <!--temporary result image-->
      <div class="TEMP-result">
        <img src="http://i.imgur.com/KTkpZGG.jpg" alt="" />
      </div>

      <!--expander icon-->
      <div class="so-expander">
        <button id="expand">
          <i class="fa fa-expand"></i>
        </button>
      </div>

      <!--content-->
      <div class="so-content">
        <!--        {{this is where content will be loaded}}-->
      </div>
      <!--tags-->

      <div class="so-tags">
        <button>
          <i class="fa fa-tag"></i><span>Tag 1</span>
        </button>
        <button>
          <i class="fa fa-tag"></i><span>Tag 2</span>
        </button>
        <button>
          <i class="fa fa-tag"></i><span>Tag 3</span>
        </button>
      </div>
    </div>
  </div>
</div>